{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-danger mt-1">THỐNG KÊ - BÁO CÁO</h1>

<div class="row">
    <div class="col-md-7 col-12">
        <div class="form-container">
        <h2>Chọn Tháng</h2>
        <form action="/admin/statsview/" method="GET">
            <label for="month">Chọn tháng:</label>
            <select name="month" id="month">
                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
            </select>

                <label for="year" class="form-label">Chọn Năm</label>
                <select name ="year" class="form-select" id="year" required>
                  <option value="">Chọn năm</option>
                  <!-- Các lựa chọn năm sẽ được tạo tự động bằng JavaScript -->
                </select>

            <button class="btn btn-danger" type="submit">Lọc</button>
        </form>
    </div>
        {%if records%}
        <h2>Doanh thu theo thang: {{month}}-{{year}}</h2>
        {%endif%}
        <table class="table">
            <tr>
                <th>Ngay</th>
                <th>So benh nhan</th>
                <th>Doanh thu</th>
                <th>Ty le</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record[0].strftime('%d-%m-%Y') }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ "{:,.0f}".format(record[2]) }} VND</td>
                <td name="tyLe"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-12">
        <table class="table">
            <tr>
                <th>Thuoc</th>
                <th>Don vi</th>
                <th>So luong</th>
                <th>So lan dung</th>
            </tr>
            {% for record in records2 %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }} </td>
                <td>{{ record[3] }} </td>
                <td>{{ record[2] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart2"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
     const yearSelect = document.getElementById('year');
    const currentYear = new Date().getFullYear();

    // Tạo các năm từ năm hiện tại xuống năm 2000
    for (let year = currentYear; year >= 2000; year--) {
      const option = document.createElement('option');
      option.value = year;
      option.textContent = year;
      yearSelect.appendChild(option);
    }



    var tmp = []
    {% for t in tyle %}
    tmp.push({{ t }})
    {% endfor %}
    console.log(tmp)
    lable = []
    console.log(JSON.stringify({{ngay[0]}}))
    {% for day in ngay %}
    lable.push({{ day }})
    {% endfor %}

        medicineName= []
        medicineAmount = []
        medicineUsage =[]
    {% for record in records2 %}

        medicineName.push("{{record[0]}}")
        medicineAmount.push("{{record[3]}}")
        medicineUsage.push("{{record[2]}}")
    {% endfor %}
    console.log(medicineName)
    console.log(medicineUsage)
    console.log(medicineAmount)

    tmomonnthh = {{month}}
    yearrrr = {{year}}
    window.onload = function() {

        let optionValue1 = document.querySelector(`option[value="${tmomonnthh}"]`);
            optionValue1.selected = true;
        let optionValueqq = document.querySelector(`option[value="${yearrrr}"]`);
            optionValueqq.selected = true;
        const ctx = document.getElementById('myChart');
        draw(ctx, tmp, lable);

          const ctx2 = document.getElementById('myChart2');
        draw2(ctx2, medicineName, medicineAmount, medicineUsage);
    }

    window.addEventListener('DOMContentLoaded', (e)=>{
        let rows = document.querySelectorAll('td[name]')
        console.log(rows)
        for (let i = 0; i < rows.length; i++){
            if(tmp){
                console.log(i)
                console.log(tmp[i])
                rows[i].textContent = (tmp[i].toFixed(2)) + '%'
            }

        }
    })




    function draw2(ctx, medicineName, medicineAmount, medicineUsage) {
        new Chart(ctx, {
            type: 'bar',  // Loại biểu đồ là cột
            data: {
                labels: medicineName,  // Các loại thuốc
                datasets: [{
                        label: 'Số lần dùng',  // Nhãn cho cột số lần dùng
                        data: medicineUsage,  // Dữ liệu số lần dùng của mỗi loại thuốc
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',  // Màu nền của cột số lần dùng
                        borderColor: 'rgba(255, 99, 132, 1)',  // Màu viền của cột số lần dùng
                        borderWidth: 1
                    },
                    {
                        label: 'Số lượng thuốc',  // Nhãn cho cột số lượng thuốc
                        data: medicineAmount,  // Dữ liệu số lượng thuốc của mỗi loại thuốc
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Màu nền của cột số lượng thuốc
                        borderColor: 'rgba(54, 162, 235, 1)',  // Màu viền của cột số lượng thuốc
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true  // Đảm bảo trục y bắt đầu từ 0
                    }
                }
            }
        });



    }



    function draw(ctx, data, labels) {
        new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: '# Doanh thu',
                data: data,
                borderWidth: 1,
                backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }

    let data = [];
    let labels = [];

    let data2 = [];
    let labels2 = [];

    {% for s in stats %}
    data.push({{ s[2] }})
    labels.push('{{ s[1] }}')
    {% endfor %}

    {% for s in stats2 %}
    data2.push({{ s[1] }})
    labels2.push({{ s[0] }})
    {% endfor %}


</script>
{% endblock %}