{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-danger mt-1">THỐNG KÊ - BÁO CÁO</h1>

<div class="row">
    <div class="col-md-7 col-12">
        <div class="form-container">
        <h2>Chọn Tháng {{month}}</h2>
        <form action="/admin/statsview/" method="GET">
            <label for="month">Chọn tháng: </label>
            <select name="month" id="month">

                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
            </select>
            <button class="btn btn-danger" type="submit">Lọc</button>
        </form>
    </div>
        {%if records%}
        <h2>Doanh thu theo thang: 12</h2>
        {%endif%}
        <table class="table">
            <tr>
                <th>Ngay</th>
                <th>So benh nhan</th>
                <th>Doanh thu</th>
                <th>Ty le</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td name="tyLe"></td>
            </tr>

        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-12">
        <table class="table">
            <tr>
                <th>Thuoc</th>
                <th>Don vi</th>
                <th>So luong</th>
                <th>So lan dung</th>
            </tr>

            <tr>
                <td></td>
                <td> </td>
                <td></td>
                <td> </td>
            </tr>

        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart2"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>


var tmp = []

    lable = []

        medicineName= []
        medicineAmount = []
        medicineUsage =[]


    function draw2(ctx, medicineName, medicineAmount, medicineUsage) {
        new Chart(ctx, {
            type: 'bar',  // Loại biểu đồ là cột
            data: {
                labels: medicineName,  // Các loại thuốc
                datasets: [{
                        label: 'Số lần dùng',  // Nhãn cho cột số lần dùng
                        data: medicineUsage,  // Dữ liệu số lần dùng của mỗi loại thuốc
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',  // Màu nền của cột số lần dùng
                        borderColor: 'rgba(255, 99, 132, 1)',  // Màu viền của cột số lần dùng
                        borderWidth: 1
                    },
                    {
                        label: 'Số lượng thuốc',  // Nhãn cho cột số lượng thuốc
                        data: medicineAmount,  // Dữ liệu số lượng thuốc của mỗi loại thuốc
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Màu nền của cột số lượng thuốc
                        borderColor: 'rgba(54, 162, 235, 1)',  // Màu viền của cột số lượng thuốc
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true  // Đảm bảo trục y bắt đầu từ 0
                    }
                }
            }
        });



    }



    function draw(ctx, data, labels) {
        new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: '# Doanh thu',
                data: data,
                borderWidth: 1,
                backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }
    tmomonnthh = {{month}}
    console.log(tmomonnthh)
     window.onload = function() {
         let optionValue1 = document.querySelector(`option[value="${tmomonnthh}"]`);
            optionValue1.selected = true;
        const ctx = document.getElementById('myChart');
        draw(ctx, tmp, lable);

          const ctx2 = document.getElementById('myChart2');
        draw2(ctx2, medicineName, medicineAmount, medicineUsage);
    }


</script>
{% endblock %}